.noteItem {
  padding: 1rem;
  cursor: move;
  user-select: none;
  max-width: 250px;
  word-break: break-all;
  border-radius: 0.3rem;
  background-color: #f5fd57;
  display: flex;
  align-items: start;
  gap: 0.5rem;
}

.addNote {
  display: flex;
  gap: 1rem;
  height: 8vh;
  justify-content: center;
  align-items: center;
}

#notesDiv {
  position: relative;
  height: 90vh;
  box-shadow: 0px 0px 6px #ddd;
}

input {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1rem;
  border-radius: 1rem;
  outline: none;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 6px #ddd;
}

input:hover {
  outline: 1px solid #fffd93;
}

button {
  border-radius: 1rem;
  border: 1px solid #e1e1e1;
  padding: 0.6rem;
  cursor: pointer;
  font-size: 1rem;
  color: #3e3e3e;
  box-shadow: 0px 0px 4px #ddd;
}

button:hover {
  transform: scale(1.04);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}
